/* CSS for Products */
.product .product-title {
    margin-bottom: 15px;
}
.key-value {
    margin-bottom: 15px;
}
.key-value .key {
    font-size: 1.4rem;
}
.key-value .value > ul {
    margin-top: 10px;
}
.inline-key-value {
    margin-bottom: 20px;
    font-size: 1rem;
}
.inline-key-value .value {
    color: rgb(165, 172, 175);
}
.product-variations {
    display: block;
}
.product-variations-label {
    color: rgb(165, 172, 175);
}
.variation .green-btn, .variation .blue-btn {
    padding: 1rem 1.26rem;
}

.menu-products-container a:link, .menu-products-container a:visited{color:#fff;}
.menu-products-container ul.dropdown > li a{padding:1em;}
@media screen and (min-width:69em){
	.menu-products-container ul.dropdown > li a{padding:1em 1.75em;}
}
.menu-products-container ul ul{background:#719c6b;}
	.menu-products-container ul ul li:hover{background:#aaa;}


.product h1{margin:0; font-size:1.8rem} /*align with project graphic*/
.product h2{margin:0 0 .5em; font-size:1.6rem} /*align with project graphic*/
.product h3{margin:.5em 0 .1em 0; font-size:1.4rem; text-transform:uppercase;}
.product h1, .product h2, .product h3, .product{color:#444;}
.product .made-at{color:#a5acaf; white-space:nowrap;}


.menu-products-container .is-dropdown-submenu-parent.is-right-arrow > a::after {
   	content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent #fff;
    border-left-style: solid;
    border-right-width: 0;
  }

.menu-products-container .is-dropdown-submenu-parent.is-down-arrow > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #fff transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 1rem;
    right: 5px; }
  
 .menu-products-container .menu-title{font-size:1.6em; text-transform:uppercase;}
 .menu-products-container .menu-title span{font-size:.7em; text-transform:lowercase; margin-left:3em;  vertical-align:top;}
 @media screen and (max-width:40em){
 	.menu-products-container .menu-title span{vertical-align:baseline;}
	.submenu{width:95%; text-align:center;}
 }
 
 /*Single page related products*/
 .type-product h2.entry-title{font-size:1.8em; font-weight:bold; color:#fff;}
.uses ul{
	list-style-image:url('../images/bullet.png'); 
	margin:1em 0 0 2em;
	display:block;
  }
  .uses ul li span{vertical-align:top;}

.type-product .background-title{position:relative; height:0; width:95%; padding:26.71875% 0 26.71875%;
	    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4); transition:opacity .2s;}
		.type-product .background-title h2 span{    
			transform: translateY(-50%);
			top: 50%;
			position: absolute;
			left: 0;
			width:100%;
		}
		.type-product .background-title:hover{opacity:.7; transition:opacity .2s;}
.type-product .background-title h2.entry-title{font-size:1.8em; height:0; padding:0;}

/*@media screen and (max-width:40em){
	.type-product .backround-title{padding:16% 0 19%;}
}*/